EXPRESS_BACK_PORT=4000
DATABASE_URL="postgresql://user:password@localhost:5432/seu_banco"

JWT_ALGORITHM=''
JWT_PRIVATE_KEY=''
JWT_PUBLIC_KEY=''

ENCRYPTION_ALGORITHM=
ENCRYPT_PASSWORD=
ENCRYPT_SECRET_KEY=
ENCRYPT_IV=
